.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  margin-bottom: 80px;
}

.header div h6{
       font-size: 25px;
       letter-spacing: 5px;
}

.header div h1{
       font-size: 25px;
       letter-spacing: 2px;
       font-weight: 900;
       color: rgb(23, 23, 78);
    
}

.images_proof{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
  gap:10px;
  margin-bottom: 30px;
}

.images_proof div {
  flex: 1;
  max-width: 45%;

  

}
.images_proof div img{
  width: 80%;
  height: auto;
  object-fit: cover;
  object-position: top;
}
.span_03{
     color: orangered;
}