.contact_us{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  background-image: url(/images/634cfc34862a67f5a4b6193f_hero-left-particle.png);
   margin-bottom: 80px;
}




  /* Company contact detail */
.company_detail{
 flex:1;
}

.company_detail h1{
  color: rgb(21, 21, 95);
}
.company_detail p{
    width: 80%;
    color: rgb(141, 137, 137);
    margin: 0;
    padding: 0;
}
.Location{
 color: orangered;
 font-size: 25px;
 letter-spacing: 1px;
 margin-bottom: 5px;
 padding: 0;
} 

.email_div{
      display: flex;
      gap: 5px;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      border-width: 1px;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
      width:40%;
      height:50px;
      padding: 0px 10px;
      margin-top: 20px;
      color: rgb(21, 21, 95);
      font-size: 18px;
      letter-spacing: 0.7px;
}

.email_div img{
  width:30px;
  height:30px;
}


.phone_div{
      display: flex;
      gap: 5px;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      border-width: 1px;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
      width:40%;
      height:50px;
      padding: 0px 10px;
      margin-top: 20px;
      color: rgb(21, 21, 95);
      font-size: 18px;
      letter-spacing: 0.7px;
}

.phone_div img{
  width:30px;
  height:30px; 
}




/* user_detail */

.user_detail{
   flex:1;
  background-color: rgb(243, 159, 34);
  padding: 10px 25px;
  margin: 0;

}


.user_detail h1{
  color: rgb(21, 21, 95);
}

.user_detail p{
  padding-left: 10px;
}

form label{
  font-size: 20px;
  margin-bottom: 15px;
}


form input{
  width:60%;
  height:30px;
  border-radius: 5px;
  border: none;
   margin-bottom: 15px;
}

form input::placeholder{
  padding-left: 10px;
}

form textarea{
  width:55%;
  height:30px;
  border-radius: 5px;
  border: none;
   margin-bottom: 15px;
}


form button{
  width:30%;
  height:40px;
  margin-left: 13%;
  border-radius: 5px;
  border:none;
  background-color: rgb(21, 21, 95);
  color:white;
  transition:  background-color 0.15s;

  font-size: 15px;
  letter-spacing: 1px;
}

form button:hover{
   background-color: white;
  color:rgb(21, 21, 95);
}

